a(name='contact')
section.contact#contact
  .flex.flex-center
    .col-50
      h2
        span.thin CONTACT&nbsp;
        span.thick ME

  .flex.flex-center
    .col-25
      span.home-lead PHONE:&#160;
      | 434-841-0282
      br
      span.home-lead EMAIL:&#160;
      | kennwgarrett@gmail.com
      br
      a(href='https://www.facebook.com/wayne.garrett.35')
        i.fa.fa-facebook-square.fa-2x &#160;
      a(href='https://www.linkedin.com/in/kenneth-%22wayne%22-garrett-48b12848')
        i.fa.fa-linkedin-square.fa-2x

  .call-email
    img(src='assets/img/left-arrow.png')
    br
    p
      | Just call/email me!
