a(name='contact')
section.contact#contact
  .flex.flex-center
    .col-50
      h2
        span.thin CONTACT&nbsp;
        span.thick ME

  .flex.flex-center
    .col-50
      form(action='/signup',method='post')
        div(data-role='fieldcontain')
          // fieldset(data-role='controlgroup')
          label(for='name') Name
          br
          input(id='name',type='text',value='',name='name')
        div(data-role='fieldcontain')
          // fieldset(data-role='controlgroup')
          label(for='email') Email
          br
          input(id='email',type='text',value='',name='email')
        div(data-role='fieldcontain')
          // fieldset(data-role='controlgroup')
          label(for='message') Message
          br
          textarea(id='message',type='text',value='',name='message')
        div(data-role='fieldcontain')
          input(type='submit',value='Submit',data-transition='fade', data-theme='c')
          input(type='reset',value='Reset',data-transition='fade', data-theme='c')

    .col-25
      | Phone: 434-841-0282
      br
      | Email: kennwgarrett@gmail.com

  .call-email
    img(src='assets/img/up-arrow.png')
    p
      | Or just call/email me!
