section.footer#footer
  .flex.flex-center
    .col-100
      p
        a(href='https://www.facebook.com/wayne.garrett.35')
          i.fa.fa-facebook-square.fa-2x
        a(href='https://www.linkedin.com/in/kenneth-%22wayne%22-garrett-48b12848')
          i.fa.fa-linkedin-square.fa-2x
        | Copyright &copy; 2015 Wayne Garrett
