a(name='top')
.hero-border
section.hero
  .flex
    .col-50.header-content
      .col-100.header-border
        h1
          span.thin WAYNE
          br
          span.thick GARRETT

        p.home-lead
          | Front End Web Developer and UX designer from Lynchburg, VA.
          br
          a(href="#about")
            button(class="btn", data-action="bea").
              Learn More

    .col-50.header-content-reverse
      .col-100.header-border-reverse
