a(name='top')
section.hero
  .flex
    .col-100.header-content
      h1
        span.thin WAYNE&nbsp;
        span.thick GARRETT
      a(href='#about')
        img(src='assets/img/header-arrow.png' width='50%')

.header-border
