.nav-background

nav.site-nav
  .header-position
    ul
      a(href="#top")
        li
          i.fa.fa-home.fa-2x
      a(href="#about")
        li
          i.fa.fa-user.fa-2x
      a(href="#work")
        li
          i.fa.fa-desktop.fa-2x
      a(href="#contact")
        li
          i.fa.fa-envelope.fa-2x
