a(name='work')
section.work#work
  .flex
    .col-100.work-title
      h2
        span.thin FEATURED&nbsp;
        span.thick WORKS
    .col-100.work-content
      .works
        a(href="http://www.sarahandgary.com")
          img(src='assets/img/sarah-gary.png')
      .works
        a(href="http://www.sarahandgary.com")
          img(src='assets/img/sarah-gary.png')
