a(name='work')
section.work#work
  .flex
    .col-100.work-title
      h2
        span.thin SAMPLE&nbsp;
        span.thick WORKS
    .col-100.work-content
      .works
        a(href="http://www.sarahandgary.com", target="_blank")
          img(src='assets/img/sarah-gary.png')
      .works
        a(href="assets/img/portfolio-full.png", target="_blank")
          img(src='assets/img/portfolio.png')
